<table class="table text-left table-striped table-hover table-bordered table-condensed table-striped-odd specification">
    <tbody>
        <tr>
            <td><span style="color: #4f0a0a;"><strong>Best UPS models</strong></span></td>
            <td style="text-align: center;"><span style="color: #4f0a0a;"><strong>Charging Time
                        Approx.</strong></span></td>
            <td style="text-align: center;"><span style="color: #4f0a0a;"><strong>Backup Time
                        Approx.</strong></span></td>
            <td style="text-align: center;"><span style="color: #4f0a0a;"><strong>Features</strong></span></td>
            <td><span style="color: #4f0a0a;"><strong>Price &amp; Warranty</strong></span></td>
        </tr>
        <tr>
            <td rowspan="2" ><strong>APC bx600 ups for home/pc</strong></td>
            <td colspan="3" style="text-align: center;"><strong>Suitable Loads:</strong>Home/PC</td>
            <td rowspan="2">APC ups <strong>under Price 3500/-</strong></td>
        </tr>
        <tr>
            <td>6 Hours</td>
            <td>65 minutes at minimum load</td>
            <td>Line interactive &amp; continuous alarm sounds
        </tr>
         
    </tbody>
</table>